@font-face {
    font-family: 'StratosSkyeng';
    src: url('stratosskyengweb-regular.woff2') format('woff2'),
         url('stratosskyengweb-regular.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'StratosSkyeng';
    src: url('stratosskyengweb-medium.woff2') format('woff2'),
         url('stratosskyengweb-medium.woff') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'StratosSkyeng';
    src: url('stratosskyengweb-bold.woff2') format('woff2'),
         url('stratosskyengweb-bold.woff') format('woff');
    font-weight: 700;
}